<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
</head>

<body>

<div id="content">

    <h1 align="center">Modules usage report for week of {{ date }}</h2>

        <h2 align="center"> Top 10 modules used  </h2>
        <table style="border: 1px solid black; border-collapse: collapse;">
            <thead>
            <tr>
                <td>Module</td>
                <td># of times used</td>
            </tr>
            </thead>
            <tbody>
            {% for module in module_list  %}
            <tr>
                <td>
                    {{ module.module }}
                </td>
                <td>
                    {{ module.count }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <h2 align="center"> Top 10 modules used by project </h2>
        <table style="border: 1px solid black; border-collapse: collapse;">
            <thead>
            <tr>
                <td>Project</td>
                <td>Module</td>
                <td># of times used</td>
            </tr>
            </thead>
            <tbody>
            {% for module in project_module_list  %}
            <tr>
                <td>
                    {{ module.project }}
                </td>
                <td>
                    {{ module.module }}
                </td>
                <td>
                    {{ module.count }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
<a href="http://kibana.mwt2.org:6601/#/dashboard/Module-usage-dashboard?_g=(refreshInterval:(display:Off,section:0,value:0),time:(from:now-7d,mode:quick,to:now))&_a=(filters:!(),panels:!((col:1,id:Top-5-Modules-used,row:1,size_x:12,size_y:6,type:visualization),(col:1,id:Module-Usage-locations,row:12,size_x:12,size_y:6,type:visualization),(col:1,id:Module-usage-by-site,row:7,size_x:6,size_y:5,type:visualization),(col:7,id:Module-usage-by-project,row:7,size_x:6,size_y:5,type:visualization)),query:(query_string:(analyze_wildcard:!t,query:'*')),title:'Module%20usage%20dashboard')">Module dashboard for the previous week</a>
</body>
</html>